.Dictionary section {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 10px 10px rgb(0 0 0/ 10%);
  margin: 30px auto;
}
.Dictionary h1 {
  font-size: 18px;
  font-weight: bold;
}
.Dictionary .search {
  width: 60%;
  border-radius: 6px;
  padding: 6px 10px;
  border: 1px solid #ddd;
  color: #333;
}
.Dictionary .search-button {
  margin: auto 20px;
  padding: 7px 20px;
  background-color: #9671f4;
  border: 1.5px solid #9671f4;
  color: white;
  border-radius: 8px;
  transition: 300ms ease-in-out;
}
.Dictionary .search-button:hover {
  background-color: white;
  border: 1.5px solid #9671f4;
  color: #9671f4;
}
.Dictionary .hint {
  font-size: 11px;
  margin-top: 5px;
}